:root{
 --primary:#0f172a;
 --secondary:#f59e0b;
 --background:#f8fafc;
 --card:#ffffff;
 --text:#1e293b;
 --light-text:#64748b;
 --border:#e2e8f0;
}

*{
 box-sizing:border-box;
 margin:0;
 padding:0;
 font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav{
 height:70px;
 background:var(--primary);
 color:white;
 display:flex;
 justify-content:space-between;
 align-items:center;
 padding:0 40px;
}

.left{
 font-size:1.4rem;
 font-weight:600;
}

.right ul{
 display:flex;
 list-style:none;
 gap:50px;
 font-size:1.2rem;
}

.right ul a{
 color:white;
 text-decoration:none;
}

.right ul a:hover{
 color:var(--secondary);
}

.admin-btn{
 padding:6px 14px;
 border-radius:6px;
 background:white;
 color:var(--primary);
 font-weight:600;
 text-decoration:none;
}

.admin-btn:hover{
 background:var(--secondary);
 color:white;
}

.hamburger{
 display:none;
 font-size:24px;
 cursor:pointer;
 color:white;
}

/* posts */

.post-section{
 text-align:center;
 margin:20px;
}

.post-section h1{
 color:var(--secondary);
}

.post-section p{
 color:var(--light-text);
}

.post-container{
 display:grid;
 grid-template-columns:1fr 1fr;
 margin:50px;
}

.post-card{
 width:300px;
 margin:auto;
 background:white;
 border:2px solid var(--border);
 border-radius:18px;
 padding:15px;
 text-align:center;
 display:flex;
 flex-direction:column;
 gap:10px;
}

.post-date{
 color:var(--secondary);
 font-weight:600;
}

.post-card button{
 background:var(--secondary);
 border:none;
 padding:8px;
 color:white;
 border-radius:6px;
 cursor:pointer;
}

.post-card button:hover{
 background:var(--primary);
}

.empty-post{
 text-align:center;
 margin:80px;
 color:var(--secondary);
 font-weight:600;
}

/* footer */

footer{
 background:var(--primary);
 color:white;
 display:flex;
 justify-content:space-around;
 padding:30px;
}

.footer-col ul{
 list-style:none;
}

.footer-col li{
 margin:5px 0;
 cursor:pointer;
}


@media(max-width:768px){
.right{
 position:absolute;
 top:70px;
 left:0;
 width:100%;
 background:var(--primary);
 display:none;
}

.right.active{
 display:block;
}

.right ul{
 flex-direction:column;
 gap:20px;
 padding:20px;
}

.right.active{
 transform:translateX(0);
}

.post-container{
 grid-template-columns:1fr;
 margin:20px;
}

footer{
 flex-direction:column;
 text-align:center;
 gap:20px;
}

}